{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
    <h3>URL to Shorten</h3>
      <form class="mt-3" action="{%url 'add_url' %}" method="POST">
        {% csrf_token %}
        <div id="author-form" class="form-group">
          <h6>URL:</h6>
          <input
            type="text"
            class="form-control"
            name="url"
            
          /></br>
         
          <button type="submit" class="btn btn-primary mb-2 mt-3">Submit</button>
        </div>
      </form>
    </div>
{% endblock %}