*{
    color: rgb(13, 60, 237);
    font-size: 30px;
}

body {
align-items: center;
background-image: url("karatekid.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    float: inherit;
}

p{
    margin: 20px;
    padding: 20px;
}