*{
    color: rgb(3, 7, 22);
    font-size: 30px;
}

body {
align-items: center;
background-color: bisque;
background-size: cover;
position: relative;
}

.flex-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

img{
    float: inherit;
    border-style: solid;
    border-color: brown;
    border-radius: 25%;
}

p{
    margin: 20px;
    padding: 20px;
}

q{
    font-family: cursive;
}


ul {

    list-style-type: none;
  
  }
  
  
  ul li:before {
  
    content: '';
  
    display: inline-block;
  
    height: 40px;
  
    width: 40px;
  
     background-size: 40px;
  
    background-image: url("fistbump-011.jpeg");
  
    background-repeat: no-repeat;
  
    margin-right: 5px;
  
  }