h3 {
    color:forestgreen;
}
.bold {
    font-weight: bold;
}
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.alert {
    color:darkred;
}
#map {
    height: 400px;
    width: 400px;
  }