<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello World</h1>
</body>
</html>


python3 -m venv env
source env/bin/activate

to use a if loop
{% if temperature < 50 %}
<p>cold</p>
{%endif%}


to use a for loop
{% for num in nums%}
list
{%endfor%}

 to use a variable [{name}]

 name operates like class
 variable = request.form['name']

 to get name from selection 
 my_selection = request.form.get('selection name')