{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <h4>All Posts</h4>
  <!-- <a href="{% url 'view_all_posts' %}">
    <h3>Back to all posts</h3>
  </a> -->
  <p>
    {{ article.author }}<br />
    {{ article.pub_date }}<br />
    {{ article.title }}<br />
    {{ article.text }}
  </p>
  
    <h4>Comments</h4>
  {% for comment in comments %}
  <p>
  {{ comment.author }}<br />
  {{ comment.date_posted }}<br />
  {{ comment.content }}<br />
  {% endfor %}
</p>
  <p>
    <div>
      <form action="{% url 'details' article.id %}" method="POST">
        {% csrf_token %}
        <h4>Post a Comment</h4>
        <div>
    
          Comment<br>
          <textarea rows="3" name="content"></textarea></br>
          Date<br>
          <input type="date" name="date_posted" /><br/>
          
          Author<br>
          <select name="author">
            {%for author in authors%}
            <option value="{{author.id}}">{{author}}</option>
            {% endfor %}
          </select><br><br>
          <button type="submit" class="btn btn-outline-success">Submit</button>
     
        </div>
      </form>
    </div>
  </p>
</div>
{% endblock %}