{% extends 'base.html' %} {% block content %}
<div class="container-fluid">

  <div>
    <h4>All Posts</h4>
    {% for post in articles reversed %}
    <p>
      {{post.author}}<br>
      {{post.pub_date}}<br>
      <a href="{% url 'details' post.id%}" class="btn btn-outline-success">{{post.title}}</a><br>
      {{post.com_counter}}<br>
      {% for comment in post.comments.all %}
      • {{comment.com_counter}} Comments
      {% endfor %}
    </p>
    {% endfor %}
  </div>
</div>
{% endblock %}