div{
    background-color: orange;
    height: 400px;
    width: 50vw;
}

ul{
    list-style: none;
    display: flex;
}

li{
    padding: 10px;
    margin:  10px;
}

nav{
    background-color: red;
    max-width: 800px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    color:white; 
    background: darkblue;
    font-size:1.5em;
    text-align: center;
    line-height:100px;
    }

