{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h3>Update Job</h3>
    <form class="mt-3" action="{%url 'update' job.id %}" method="POST">
        {% csrf_token %}
        <div id="author-form" class="form-group">
            <!-- <label for="book_title"><h5>Job:</h5></label> -->
            <h6>Job:</h6><input 
                type="text" 
                class="form-control" 
                name="todo_item" 
                value='{{ job.todo_item }}'></br>
            <h6>Decription:</h6><textarea 
                class="form-control" 
                rows="5" 
                name="text"> {{ job.text }} </textarea></br>
            <h6>Finish by:</h6><input
                type="date"
                class="form-control w-25"
                name="finish_date" required><br>
            <h6>Completed:</h6><select
                name="completed"><br>
                <option value="True">True</option>
                <option value="False" selected>False</option>
                </select> <br>
            <button 
                type="submit" 
                class="btn btn-primary mb-2 mt-3">Submit</button>
        </div>
    </form>
</div>
{% endblock %}