{% extends "base.html" %}
{% block content %}

{%for athlete in athletes%}
<form class='mt-3' action="{% url 'add' athlete.id %}" method="POST">
{% csrf_token %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{athlete.first_name}}</h5>
      <p class="card-text">{{athlete.points}}</p>
      <button type="submit" class="btn btn-dark mt-3">Add to the team</button>
    </div>
  </div>
</form>
{%endfor%} 

{% endblock %}